In [2]:
import pandas as pd

In [36]:
hotel_df = pd.read_excel('./../data/hotel_list.xlsx', header=1)
hotel_df

,번호,지역1\n(시도),지역2\n(시군구),세부업종,호텔명(등록명칭),등급,객실수,주소
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,서울특별시,강남구,관광호텔업,임피리얼팰리스 호텔,5성급,404.0,서울특별시 강남구 언주로 640
2,2.0,서울특별시,강남구,관광호텔업,그랜드인터컨티넨탈서울파르나스,5성급,519.0,서울특별시 강남구 테헤란로 521
3,3.0,서울특별시,강남구,관광호텔업,노보텔앰배서더강남,4성급,332.0,서울특별시 강남구 봉은사로 130
4,4.0,서울특별시,강남구,관광호텔업,르 메르디앙 서울 호텔,5성급,336.0,서울특별시 강남구 봉은사로 120
...,...,...,...,...,...,...,...,...
1879,1879.0,강원도,고성군,가족호텔업,델피노 호텔,NaN,84.0,강원도 고성군 토성면 미시령옛길 1153
1880,1880.0,강원도,고성군,가족호텔업,레이스오션 가족호텔,NaN,203.0,강원도 고성군 토성면 잼버리동로 583-20
1881,1881.0,강원도,양양군,관광호텔업,낙산비치호텔,NaN,284.0,강원도 양양군 강현면 낙산사로 73
1882,1882.0,강원도,양양군,관광호텔업,쏠비치 호텔 양양,4성급,130.0,양양군 손양면 선사유적로 678
1883,1883.0,강원도,양양군,관광호텔업,산과 바다,2성급,34.0,양양군 강현면 동해대로 3393

In [17]:
import numpy as np
mask = hotel_df['등급'].isin(['', np.NaN])
hotel_df[~mask]['등급']

1       5성급
2       5성급
3       4성급
4       5성급
5       5성급
       ...
1869    4성급
1873    3성급
1877    4성급
1882    4성급
1883    2성급
Name: 등급, Length: 760, dtype: object

In [18]:
hotel_df = hotel_df[~mask]
hotel_df.to_csv('test.csv', encoding='utf-8-sig')

In [38]:
import numpy as np
hotel_df = hotel_df[(~hotel_df['등급'].isin(['', np.NaN])) & (~hotel_df['등급'].str.contains("특", na=False))]
hotel_df.to_csv('test.csv', encoding='utf-8-sig')

In [42]:
hotel_df.columns = ['no', 'area1', 'area2', 'details', 'name', 'rate', 'rooms', 'address']

In [43]:
hotel_df

,no,area1,area2,details,name,rate,rooms,address
1,1.0,서울특별시,강남구,관광호텔업,임피리얼팰리스 호텔,5성급,404.0,서울특별시 강남구 언주로 640
2,2.0,서울특별시,강남구,관광호텔업,그랜드인터컨티넨탈서울파르나스,5성급,519.0,서울특별시 강남구 테헤란로 521
3,3.0,서울특별시,강남구,관광호텔업,노보텔앰배서더강남,4성급,332.0,서울특별시 강남구 봉은사로 130
4,4.0,서울특별시,강남구,관광호텔업,르 메르디앙 서울 호텔,5성급,336.0,서울특별시 강남구 봉은사로 120
5,5.0,서울특별시,강남구,관광호텔업,인터컨티넨탈서울코엑스,5성급,654.0,서울특별시 강남구 봉은사로 524
...,...,...,...,...,...,...,...,...
1869,1869.0,강원도,정선군,관광호텔업,하이원 팰리스호텔,4성급,197.0,강원도 정선군 고한읍 고한7길 399
1873,1873.0,강원도,철원군,관광호텔업,한탄리버스파호텔,3성급,68.0,강원도 철원군 동송읍 태봉로 1799-22
1877,1877.0,강원도,인제군,관광호텔업,스피디움 호텔,4성급,134.0,강원도 인제군 기린면 상하답로 130
1882,1882.0,강원도,양양군,관광호텔업,쏠비치 호텔 양양,4성급,130.0,양양군 손양면 선사유적로 678
1883,1883.0,강원도,양양군,관광호텔업,산과 바다,2성급,34.0,양양군 강현면 동해대로 3393

In [73]:
new = hotel_df.groupby(['area1', 'rate']).head(5).sort_values(by=['area1', 'rate'], ascending=[True, False])

In [74]:
new.to_csv('test2.csv', encoding='utf-8-sig')

In [57]:
new.rate.loc[lambda x:x>5]

AttributeError: 'SeriesGroupBy' object has no attribute 'loc'

In [60]:
new.apply(lambda x: x).sort_values(by=['area1','rate'], ascending=[True, False])\
    .to_csv('test2.csv', encoding='utf-8-sig')