In [1]:
import pandas as pd

In [3]:
import seaborn as sns

In [2]:
pd.__version__

'1.3.5'

## 4. 외부 데이터 가져오기

In [4]:
df = sns.load_dataset('iris')

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
df.shape

(150, 5)

In [7]:
df.size

750

In [9]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [10]:
# 전체 데이터 몇 행, 몇 열, 전체 데이터 개수
df[['sepal_width', 'sepal_length', 'species']]

     sepal_width  sepal_length    species
0            3.5           5.1     setosa
1            3.0           4.9     setosa
2            3.2           4.7     setosa
3            3.1           4.6     setosa
4            3.6           5.0     setosa
..           ...           ...        ...
145          3.0           6.7  virginica
146          2.5           6.3  virginica
147          3.0           6.5  virginica
148          3.4           6.2  virginica
149          3.0           5.9  virginica

[150 rows x 3 columns]

In [11]:
columns = ['sepal_width', 'sepal_length', 'species']
df[columns]

     sepal_width  sepal_length    species
0            3.5           5.1     setosa
1            3.0           4.9     setosa
2            3.2           4.7     setosa
3            3.1           4.6     setosa
4            3.6           5.0     setosa
..           ...           ...        ...
145          3.0           6.7  virginica
146          2.5           6.3  virginica
147          3.0           6.5  virginica
148          3.4           6.2  virginica
149          3.0           5.9  virginica

[150 rows x 3 columns]

In [12]:
df['sepal1234'] = df['sepal_length'] + df['sepal_width']
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal1234
0           5.1          3.5           1.4          0.2  setosa        8.6
1           4.9          3.0           1.4          0.2  setosa        7.9
2           4.7          3.2           1.3          0.2  setosa        7.9
3           4.6          3.1           1.5          0.2  setosa        7.7
4           5.0          3.6           1.4          0.2  setosa        8.6

## 4-2. 정규표현식

In [13]:
df.filter(regex='_')  # 열 이름에 _ 있는

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
df.filter(regex='.p').head()    # 열 이름이 p 앞에 문자 있는것

   sepal_length  sepal_width species  sepal1234
0           5.1          3.5  setosa        8.6
1           4.9          3.0  setosa        7.9
2           4.7          3.2  setosa        7.9
3           4.6          3.1  setosa        7.7
4           5.0          3.6  setosa        8.6

In [15]:
# 열 이름이 length로 끝나는 것
df.filter(regex='length$').head()

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [16]:
# 열 이름이 sepal로 시작하는 것
df.filter(regex='^sepal').head(2)

   sepal_length  sepal_width  sepal1234
0           5.1          3.5        8.6
1           4.9          3.0        7.9

In [17]:
# l 뒤에 숫자 있는 것
df.filter(regex='l\d+').head()

   sepal1234
0        8.6
1        7.9
2        7.9
3        7.7
4        8.6

In [18]:
# 열 이름에 width 있는 것
df.filter(regex='width?').head(2)

   sepal_width  petal_width
0          3.5          0.2
1          3.0          0.2

In [19]:
# 열 이름이 l 뒤에 숫자 3개 이상 있는 것
df.filter(regex='l\d{3}').head(2)

   sepal1234
0        8.6
1        7.9

In [20]:
# 열 이름에 sepal or width 있는 것. 대신 and 연산은 불가
df.filter(regex='sepal''|''width').head(2)

   sepal_length  sepal_width  petal_width  sepal1234
0           5.1          3.5          0.2        8.6
1           4.9          3.0          0.2        7.9

In [21]:
df.filter(regex='sepal|width').head(2)

   sepal_length  sepal_width  petal_width  sepal1234
0           5.1          3.5          0.2        8.6
1           4.9          3.0          0.2        7.9

In [23]:
df.filter(regex='pet''|''length').head(2)

   sepal_length  petal_length  petal_width
0           5.1           1.4          0.2
1           4.9           1.4          0.2

In [24]:
df.filter(regex='pet|length').head(2)

   sepal_length  petal_length  petal_width
0           5.1           1.4          0.2
1           4.9           1.4          0.2

In [25]:
# 열 이름이 엘 뒤에 숫자 있는 것
df.filter(regex='l\d').head(2)

   sepal1234
0        8.6
1        7.9

In [27]:
df.filter(regex='l[0-9]').head(2)

   sepal1234
0        8.6
1        7.9

In [28]:
df.filter(regex='l[^0-9]').head(2)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [29]:
df.filter(regex='l\D').head(2)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [31]:
df.filter(regex='\D$').head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [32]:
df.filter(regex='[^0-9]$').head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [33]:
df.loc[2:5, 'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2
5          3.9           1.7          0.4

In [34]:
df.iloc[-3:, [1, 2, 4]]

     sepal_width  petal_length    species
147          3.0           5.2  virginica
148          3.4           5.4  virginica
149          3.0           5.1  virginica

In [35]:
df.loc[df['sepal_length'] > 5.5, ['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
14            5.8          4.0
15            5.7          4.4
18            5.7          3.8
50            7.0          3.2
51            6.4          3.2
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[91 rows x 2 columns]

## 4-3. Summarize Data

In [37]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### value_counts()

In [38]:
# 각각의 값을 그룹화해서 개수를 보여줌
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [39]:
# 결과를 데이터프레임으로 따로 보기
pd.DataFrame(df.species.value_counts())

            species
setosa           50
versicolor       50
virginica        50

### len(변수명)

In [40]:
len(df)

150

In [42]:
df.shape

(150, 5)

In [41]:
len(df) == df.shape[0]

True

### .nunique()

In [43]:
df['species'].nunique()

3

In [44]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

### describe()

In [45]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [46]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [48]:
import numpy as np

In [50]:
# 비수치 데이터의 요약 통계
df.describe(include=[object])

       species
count      150
unique       3
top     setosa
freq        50

In [53]:
# 수치 데이터의 요약 통계
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 4-4. 결측값 처리

In [54]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [59]:
df = pd.DataFrame({
        'A':[np.NAN, 3.0, np.NaN],
        'B':[2.0, 4.0, np.NAN],
        'C':[np.NAN, np.NAN, np.NAN],
        'D': [0, 1, 5]
    },
    index=[0, 1, 2]
)

df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [57]:
df.dropna(axis=1, how='all')    # 전부 다 null일 때 drop 적

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [60]:
df.dropna(axis=0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [62]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [63]:
df.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [64]:
df.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [66]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [65]:
# .fillna() : 결측값 채우기
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [67]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
values

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [68]:
df.fillna(values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [69]:
df['D'].mean()

2.0

In [70]:
df.fillna(df['D'].mean())

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [72]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [71]:
df.fillna(method='ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5

In [73]:
df.fillna(method='bfill')

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [74]:
df.fillna(method='pad')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5

In [75]:
df.fillna(method='backfill')

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

## 4-5. 새로운 열 만들기 - assign()

In [79]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  1.700153
1   2 -0.159884
2   3 -0.513108
3   4 -0.558507
4   5  0.553654
5   6  0.053703
6   7 -0.356017
7   8 -0.012805
8   9 -1.003741
9  10  0.405255

In [78]:
df['D'] = np.log(df.A)
df

    A         B         D
0   1  0.028195  0.000000
1   2 -0.686604  0.693147
2   3  0.235608  1.098612
3   4 -0.706047  1.386294
4   5  0.886253  1.609438
5   6  0.231250  1.791759
6   7 -2.101050  1.945910
7   8  0.372919  2.079442
8   9  0.755688  2.197225
9  10  0.550636  2.302585

In [80]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  2.189041
1   2 -0.900271
2   3 -0.764979
3   4  0.646356
4   5 -0.614021
5   6  0.945000
6   7  1.653724
7   8  1.992420
8   9  0.051881
9  10 -0.366652

In [81]:
df.assign(C = np.log(df.A))

    A         B         C
0   1  2.189041  0.000000
1   2 -0.900271  0.693147
2   3 -0.764979  1.098612
3   4  0.646356  1.386294
4   5 -0.614021  1.609438
5   6  0.945000  1.791759
6   7  1.653724  1.945910
7   8  1.992420  2.079442
8   9  0.051881  2.197225
9  10 -0.366652  2.302585

In [84]:
df = df.assign(C=np.log(df.A))
df

    A         B         C
0   1  2.189041  0.000000
1   2 -0.900271  0.693147
2   3 -0.764979  1.098612
3   4  0.646356  1.386294
4   5 -0.614021  1.609438
5   6  0.945000  1.791759
6   7  1.653724  1.945910
7   8  1.992420  2.079442
8   9  0.051881  2.197225
9  10 -0.366652  2.302585

## 4-6. 값을 구간으로 나누기

In [85]:
pd.cut?

In [86]:
pd.cut(df.A, 3)

0    (0.991, 4.0]
1    (0.991, 4.0]
2    (0.991, 4.0]
3    (0.991, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64, right]): [(0.991, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [88]:
pd.cut(df.A, [0, 4, 7, 10])

0     (0, 4]
1     (0, 4]
2     (0, 4]
3     (0, 4]
4     (4, 7]
5     (4, 7]
6     (4, 7]
7    (7, 10]
8    (7, 10]
9    (7, 10]
Name: A, dtype: category
Categories (3, interval[int64, right]): [(0, 4] < (4, 7] < (7, 10]]

In [89]:
pd.cut(df.A, [0, 4, 7, 10], right=False)

0     [0.0, 4.0)
1     [0.0, 4.0)
2     [0.0, 4.0)
3     [4.0, 7.0)
4     [4.0, 7.0)
5     [4.0, 7.0)
6    [7.0, 10.0)
7    [7.0, 10.0)
8    [7.0, 10.0)
9            NaN
Name: A, dtype: category
Categories (3, interval[int64, left]): [[0, 4) < [4, 7) < [7, 10)]

In [90]:
pd.cut(df.A, [0, 4, 7, 10], labels=['L', 'M', 'H'])

0    L
1    L
2    L
3    L
4    M
5    M
6    M
7    H
8    H
9    H
Name: A, dtype: category
Categories (3, object): ['L' < 'M' < 'H']

In [101]:
pd.cut(df.A, [0, 4, 7, 10], labels=['L', 'M', 'H'], right=False)

0      L
1      L
2      L
3      M
4      M
5      M
6      H
7      H
8      H
9    NaN
Name: A, dtype: category
Categories (3, object): ['L' < 'M' < 'H']

In [92]:
pd.cut(df.A, 3)

0    (0.991, 4.0]
1    (0.991, 4.0]
2    (0.991, 4.0]
3    (0.991, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64, right]): [(0.991, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [93]:
pd.cut(df.A, [0, 4, 7, 10])

0     (0, 4]
1     (0, 4]
2     (0, 4]
3     (0, 4]
4     (4, 7]
5     (4, 7]
6     (4, 7]
7    (7, 10]
8    (7, 10]
9    (7, 10]
Name: A, dtype: category
Categories (3, interval[int64, right]): [(0, 4] < (4, 7] < (7, 10]]

In [94]:
pd.cut(df.A, [0, 4, 7, 10], right=False)

0     [0.0, 4.0)
1     [0.0, 4.0)
2     [0.0, 4.0)
3     [4.0, 7.0)
4     [4.0, 7.0)
5     [4.0, 7.0)
6    [7.0, 10.0)
7    [7.0, 10.0)
8    [7.0, 10.0)
9            NaN
Name: A, dtype: category
Categories (3, interval[int64, left]): [[0, 4) < [4, 7) < [7, 10)]

In [95]:
# .qcut
pd.qcut(df.A, 3)

0    (0.999, 4.0]
1    (0.999, 4.0]
2    (0.999, 4.0]
3    (0.999, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64, right]): [(0.999, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [97]:
pd.qcut(df.A, [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

0    (0.999, 1.9]
1      (1.9, 2.8]
2      (2.8, 3.7]
3      (3.7, 4.6]
4      (4.6, 5.5]
5      (5.5, 6.4]
6      (6.4, 7.3]
7      (7.3, 8.2]
8      (8.2, 9.1]
9     (9.1, 10.0]
Name: A, dtype: category
Categories (10, interval[float64, right]): [(0.999, 1.9] < (1.9, 2.8] < (2.8, 3.7] < (3.7, 4.6] ... (6.4, 7.3] < (7.3, 8.2] < (8.2, 9.1] < (9.1, 10.0]]

In [102]:
pd.qcut(df.A, [0, 0.25, 0.5, 0.75, 1], labels=['1st', '2nd', '3rd', '4th'])

0    1st
1    1st
2    1st
3    2nd
4    2nd
5    3rd
6    3rd
7    4th
8    4th
9    4th
Name: A, dtype: category
Categories (4, object): ['1st' < '2nd' < '3rd' < '4th']

In [103]:
pd.cut(df.A, 3)

0    (0.991, 4.0]
1    (0.991, 4.0]
2    (0.991, 4.0]
3    (0.991, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64, right]): [(0.991, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [104]:
pd.qcut(df.A, 3)

0    (0.999, 4.0]
1    (0.999, 4.0]
2    (0.999, 4.0]
3    (0.999, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64, right]): [(0.999, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [105]:
aaa = pd.cut(df.A, [0, 4, 7, 10])
aaa

0     (0, 4]
1     (0, 4]
2     (0, 4]
3     (0, 4]
4     (4, 7]
5     (4, 7]
6     (4, 7]
7    (7, 10]
8    (7, 10]
9    (7, 10]
Name: A, dtype: category
Categories (3, interval[int64, right]): [(0, 4] < (4, 7] < (7, 10]]

In [106]:
aaa.value_counts()

(0, 4]     4
(4, 7]     3
(7, 10]    3
Name: A, dtype: int64

In [107]:
pd.DataFrame(aaa.value_counts())

         A
(0, 4]   4
(4, 7]   3
(7, 10]  3

In [108]:
bbb = pd.cut(df.A, [0, 4, 7, 10],
             right=False, labels=['L', 'M', 'H'])
bbb

0      L
1      L
2      L
3      M
4      M
5      M
6      H
7      H
8      H
9    NaN
Name: A, dtype: category
Categories (3, object): ['L' < 'M' < 'H']

In [117]:
bbb.value_counts(ascending=True)

L    3
M    3
H    3
Name: A, dtype: int64

In [118]:
bbb.value_counts()

L    3
M    3
H    3
Name: A, dtype: int64

In [110]:
pd.DataFrame(bbb.value_counts())

   A
L  3
M  3
H  3

## 4-8. 값을 제한하기 - clip()

In [119]:
# 임계치만큼 값을 다듬어주는 .clip()
df['A']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [120]:
df['A'].clip(lower=-1, upper=5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [121]:
df['A'].clip(lower=2, upper=8)

0    2
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    8
9    8
Name: A, dtype: int64

In [122]:
df

    A         B         C
0   1  2.189041  0.000000
1   2 -0.900271  0.693147
2   3 -0.764979  1.098612
3   4  0.646356  1.386294
4   5 -0.614021  1.609438
5   6  0.945000  1.791759
6   7  1.653724  1.945910
7   8  1.992420  2.079442
8   9  0.051881  2.197225
9  10 -0.366652  2.302585

In [124]:
df1 = pd.DataFrame({
    'col_0': [9, -3, 0, -1, 5],
    'col_1': [-2, -7, 6, 8, -5]
}, index=[0, 1, 2, 3, 4])
df1

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [125]:
tt = pd.DataFrame({
    't': [2, -4, -1, 6, 3],
    't+4': [6, 0, 3, 10, 7]
}, index=[0, 1, 2, 3, 4])
tt

   t  t+4
0  2    6
1 -4    0
2 -1    3
3  6   10
4  3    7

In [126]:
df1.clip(tt.t, tt.t+4, axis=0)

   col_0  col_1
0      6      2
1     -3     -4
2      0      3
3      6      8
4      5      3

In [127]:
df['B']

0    2.189041
1   -0.900271
2   -0.764979
3    0.646356
4   -0.614021
5    0.945000
6    1.653724
7    1.992420
8    0.051881
9   -0.366652
Name: B, dtype: float64

In [129]:
df['B'].clip(lower=1, upper=3)

0    2.189041
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.653724
7    1.992420
8    1.000000
9    1.000000
Name: B, dtype: float64

In [131]:
# 절대값 구하는 abs()
df['B'].abs()

0    2.189041
1    0.900271
2    0.764979
3    0.646356
4    0.614021
5    0.945000
6    1.653724
7    1.992420
8    0.051881
9    0.366652
Name: B, dtype: float64

In [132]:
df = sns.load_dataset('mpg')
df.shape

(398, 9)

In [133]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [134]:
df.sort_index(ascending=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10