## 데이터 병합

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
data = pd.DataFrame(data=[], columns=['맥주정보',	'검색이름',	'맥주이름',	'맥주회사',	'맥주원산지',	'맥주종류',	'맥주도수',	'맥주IBU',	'맥주평점',	'맥주설명',	'맥주칼로리'])

In [8]:
import os

data_dir = '/content/drive/MyDrive/data'
file_ex = r'.csv'
beer_csv_list = [file for file in os.listdir(data_dir) if file.endswith(file_ex)]
beer_csv_list

['beer_n_Kloud Original Gravity.csv',
 'beer_n_Kloud Fitz Super Clear.csv',
 'beer_n_San Miguel.csv',
 'beer_n_OB Premier Pilsner.csv',
 'beer_n_FiLite.csv',
 'beer_n_Jeju Wit Ale.csv',
 'beer_n_Stephans Bräu Premium Pilsener.csv',
 'beer_n_Stephans Bräu Premium Lager.csv',
 'beer_n_Stephans Bräu Hefe-Weizen Naturtrüb.csv',
 'beer_n_Miller Genuine Draft (MGD).csv',
 'beer_n_Hoegaarden Cherry.csv',
 "beer_n_Suntory The Premium Malt's.csv",
 'beer_n_Reeper B. Blondes Weissbier.csv',
 'beer_n_Asahi Super Dry.csv',
 'beer_n_Budweiser.csv',
 'beer_n_Sapporo Yebisu.csv',
 'beer_n_Tiger Beer.csv',
 'beer_n_Tsingtao.csv',
 'beer_n_Löwenbräu Original (4.2%).csv',
 'beer_n_Asahi Super Dry Black.csv',
 'beer_n_Harbin Beer.csv',
 'beer_n_Erdinger Weissbier.csv',
 "beer_n_Queen's Ale Blonde Type.csv",
 'beer_n_Volfas Engelman Grünberger Hefeweizen.csv',
 'beer_n_OB Golden Lager.csv',
 'beer_n_Kabrew Hoptandu IPA.csv',
 'beer_n_Jeju Baengnokdam Ale.csv',
 'beer_n_Magners Juicy Apple.csv',
 'beer_n_Berliner Kindl Jubiläums Pilsener Premium.csv',
 'beer_n_Jeju Pellong Ale.csv',
 'beer_n_Kabrew Kumiho Relax Beer.csv',
 'beer_n_Jeju Seongsan Ilchulbong Ale.csv',
 'beer_n_Red Rock.csv',
 'beer_n_Jeju Barrel Series-Imperial Stout Edition - Highland Park.csv',
 'beer_n_Hollandia.csv',
 'beer_n_Grimbergen Cuvée Blanche.csv',
 "beer_n_Beck's.csv",
 'beer_n_Erdinger Weissbier Dunkel.csv',
 'beer_n_Hoegaarden Rosée.csv',
 'beer_n_Platinum White Ale.csv',
 'beer_n_Goose Island Goose IPA.csv',
 'beer_n_Amazing Shocking Stout.csv',
 'beer_n_Amazing First Love.csv',
 'beer_n_ARK Brown.csv',
 'beer_n_ARK Classic.csv',
 'beer_n_ARK Cony.csv',
 'beer_n_ARK Yeosu Night Ale.csv',
 'beer_n_Goose Island 312 Urban Wheat Ale.csv',
 'beer_n_Heretic Evil Twin.csv',
 'beer_n_Warsteiner Premium Verum.csv',
 'beer_n_Somersby Pear Cider.csv',
 'beer_n_7Bräu Gompyo Wheatbeer.csv',
 'beer_n_Squeeze Malpyo Dark Beer.csv',
 'beer_n_Edelweiss Cherry & Lavender.csv',
 'beer_n_Squeeze Malpyo Green Grape Ale.csv',
 'beer_n_7Bräu Korea Pale Ale.csv',
 'beer_n_Somersby Apple Cider.csv',
 'beer_n_The Hand and Malt Slow IPA.csv',
 'beer_n_Cass Lemon.csv',
 'beer_n_HiteJinro Filite Fresh Cool & Clear.csv',
 'beer_n_Lagunitas India Pale Ale (IPA).csv',
 'beer_n_North Coast Old Rasputin Russian Imperial Stout.csv',
 'beer_n_Blue Moon Belgian White.csv',
 'beer_n_Kona Big Wave Golden Ale.csv',
 'beer_n_Ballast Point Sculpin IPA.csv',
 'beer_n_Préaris Citra Sauvignon Session Ale.csv',
 'beer_n_Samuel Adams Irish Red Ale.csv',
 'beer_n_Hite Prime Max.csv',
 'beer_n_Edelweiss Weissbier Snowfresh.csv',
 'beer_n_Kronenbourg 1664 Blanc.csv',
 'beer_n_Heineken Dark Lager.csv',
 'beer_n_Victoria Bitter.csv',
 'beer_n_Bintang Pilsener.csv',
 'beer_n_Kozel Černý (Dark) 10°.csv',
 'beer_n_Krombacher Weizen.csv',
 'beer_n_Lapin Kulta IV A.csv',
 'beer_n_Heineken.csv',
 'beer_n_Platinum Pale Ale.csv',
 'beer_n_Pilsner Urquell.csv',
 'beer_n_Apple Fox.csv',
 'beer_n_Grolsch Premium Lager.csv',
 'beer_n_Kabrew Kumiho India Pale Ale.csv',
 'beer_n_Gambrinus Originál 10° (Desítka).csv',
 'beer_n_Castlemaine XXXX Gold Lager.csv',
 'beer_n_Hite Extra Cold.csv',
 'beer_n_Tiger Radler Lemon.csv',
 'beer_n_Cass Fresh.csv',
 'beer_n_Bright Leaf Peeper Red IPA.csv',
 'beer_n_Tsingtao Wheat Beer.csv',
 'beer_n_Egger Märzenbier.csv',
 'beer_n_Holsten Premium Bier.csv',
 'beer_n_Carlsberg Pilsner.csv',
 'beer_n_Kirin Ichiban.csv',
 'beer_n_Blue Girl (5.0%).csv',
 'beer_n_ARK Cosmic Dancer.csv',
 'beer_n_ARK Seoulite Ale.csv',
 'beer_n_Kabrew Golden Ale.csv',
 'beer_n_Peroni Nastro Azzurro.csv',
 'beer_n_Desperados Red.csv',
 'beer_n_Schneider Weisse Tap 05 - Hopfenweisse Weizendoppelbock.csv',
 'beer_n_Desperados Mojito.csv',
 'beer_n_ARK Hug Me.csv',
 'beer_n_Desperados Lime.csv',
 'beer_n_ARK Black Swan.csv',
 'beer_n_ARK Be High IPA.csv',
 'beer_n_Kabrew Namsan Mountain Premium Citra Ale.csv',
 'beer_n_Cass Light.csv',
 'beer_n_Kabrew Kumiho Peach Ale.csv',
 'beer_n_Kabrew Gyeongbokgung Royal Pride IPA.csv',
 'beer_n_Paulaner Hefe-Weissbier.csv',
 'beer_n_Desperados.csv']

In [12]:
tmp = pd.read_csv('/content/drive/MyDrive/data/' + beer_csv_list[0], index_col=0)
tmp

,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리
0,"italianjohn(5,219)\n🇺🇸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,"orda(281)\n🇺🇸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,"Radek Kliber(8,060)\n🇨🇦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,"geologyguy(2,575)\n🇺🇸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,"Wolff90(195)\n🇸🇪Upplands Väsby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
...,...,...,...,...,...,...,...,...,...,...,...
103,"fredthecat(548)\n🇨🇦Canada\n1.8November 4, 2014...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
104,"dhunter151(590)\n🇺🇸Santa Rosa, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
105,"maus(46)\n🇪🇪Tartu, Estonia\n2.3July 17, 2014\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
106,"hojoo(4)\n2.8July 16, 2014\nunfortunately, too...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
107,"migojarad(3)\n🇰🇷Seoul, South Korea\n2.1June 17...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml

In [13]:
# 병합 작업
for i in range(len(beer_csv_list)):
  try:
    tmp = pd.read_csv('/content/drive/MyDrive/data/' + beer_csv_list[i], index_col=0)
    data = pd.concat([data, tmp])
  except:
    # 오류 발 시 넘어가기
    print(i, '번재에서 오류가 발생했음. 다음 파일로 넘어감.')

In [15]:
data.shape

(72140, 11)

In [17]:
# 합친 데이터 저장하기
data.to_csv('맥주전처리데이터.csv', encoding='utf-8')

In [18]:
# 맥주 전처리 데이터 확인
data = pd.read_csv('/content/맥주전처리데이터.csv')
data.head()

,Unnamed: 0,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리
0,0,"italianjohn(5,219)\n🇺🇸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,1,"orda(281)\n🇺🇸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,2,"Radek Kliber(8,060)\n🇨🇦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,3,"geologyguy(2,575)\n🇺🇸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,4,"Wolff90(195)\n🇸🇪Upplands Väsby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72140 entries, 0 to 72139
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72140 non-null  int64
 1   맥주정보        72140 non-null  object
 2   검색이름        72140 non-null  object
 3   맥주이름        72140 non-null  object
 4   맥주회사        72140 non-null  object
 5   맥주원산지       72140 non-null  object
 6   맥주종류        72140 non-null  object
 7   맥주도수        72140 non-null  object
 8   맥주IBU       27523 non-null  object
 9   맥주평점        72140 non-null  float64
 10  맥주설명        70887 non-null  object
 11  맥주칼로리       70958 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 6.6+ MB

# 전처리 작업

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('/content/drive/MyDrive/맥주전처리데이터.csv', encoding='utf-8', index_col=0)

In [22]:
data

,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리
0,"italianjohn(5,219)\n🇺🇸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,"orda(281)\n🇺🇸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,"Radek Kliber(8,060)\n🇨🇦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,"geologyguy(2,575)\n🇺🇸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,"Wolff90(195)\n🇸🇪Upplands Väsby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
...,...,...,...,...,...,...,...,...,...,...,...
901,"caesar(7,642)\n🇳🇱Bunnik, Netherlands\n2.7Augus...",Desperados,Desperados,Heineken France (Heineken),"🇫🇷 Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
902,"jerohen(2,619)\n🇳🇱Bussum, Netherlands\n2.3Augu...",Desperados,Desperados,Heineken France (Heineken),"🇫🇷 Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
903,"Panzuriel(2,662)\n🇺🇸Westerville, United States...",Desperados,Desperados,Heineken France (Heineken),"🇫🇷 Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
904,brewmeistersgb(10)\n🇺🇸United States\n2.5August...,Desperados,Desperados,Heineken France (Heineken),"🇫🇷 Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
905,"karsten(240)\n🇩🇰odense, Denmark\n1.6August 7, ...",Desperados,Desperados,Heineken France (Heineken),"🇫🇷 Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml

In [23]:
# raw 맥주정보
data['맥주정보'].iloc[0]

'italianjohn(5,219)\n🇺🇸Penndel, United States\n2.8September 6, 2021\nClear golden blonde pour with a thin white head and spots of lacing …. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon … taste is of the same,…\nShow more\nBOTTLE\nAroma\n5\nAppearance\n3\nFlavor\n5\nMouthfeel\n3\nOverall\n12'

## 1, 맥주정보 문자열 분리하기 ('\n')

In [24]:
tmp = data.copy()

In [25]:
# 개행문자 기준으로 분리
tmp['맥주정보'] = tmp['맥주정보'].str.split('\n')
tmp['맥주정보']

0      [italianjohn(5,219), 🇺🇸Penndel, United States,...
1      [orda(281), 🇺🇸Aurora, United States, 3.9August...
2      [Radek Kliber(8,060), 🇨🇦Toronto (Can) Krotoszy...
3      [geologyguy(2,575), 🇺🇸Columbia, United States,...
4      [Wolff90(195), 🇸🇪Upplands Väsby, Sweden, 1.0Fe...
                             ...
901    [caesar(7,642), 🇳🇱Bunnik, Netherlands, 2.7Augu...
902    [jerohen(2,619), 🇳🇱Bussum, Netherlands, 2.3Aug...
903    [Panzuriel(2,662), 🇺🇸Westerville, United State...
904    [brewmeistersgb(10), 🇺🇸United States, 2.5Augus...
905    [karsten(240), 🇩🇰odense, Denmark, 1.6August 7,...
Name: 맥주정보, Length: 72140, dtype: object

In [26]:
# 분리된 스트링값들을 리스트로 변환된 것 확인
tmp['맥주정보'].iloc[0]

['italianjohn(5,219)',
 '🇺🇸Penndel, United States',
 '2.8September 6, 2021',
 'Clear golden blonde pour with a thin white head and spots of lacing …. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon … taste is of the same,…',
 'Show more',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '3',
 'Overall',
 '12']

## 2. 좋아요 수 삭제하기

- 맥주정보 데이터에서 필요한 데이터는 다음과 같음
  - 아이디
  - 평점|날짜
  - Aroma
  - Appearance
  - Flavor
  - Mouthfeel
  - Overall
- 위 데이터는 리스트 인덱스로, 앞에서 2개 뒤에서 10개는 꼭 필요
- 패턴의 불규칙함
  - 아이디, 평점|날짜순
  - 아이디, 국적, 평점|날짜
  - 아이디, 국적, (불필요값), 평점|날짜

In [27]:
tmp.shape

(72140, 11)

In [29]:
for i in range(71140, 71143):
  print(tmp['맥주정보'].iloc[i], '\n')

['spohl199(6)', '🇺🇸United States', '5.0February 21, 2002', 'Wow, was ein Bier, neben Erdinger das beste wo gibt!........................', 'Aroma', '10', 'Appearance', '5', 'Flavor', '10', 'Mouthfeel', '5', 'Overall', '20']

['kilgore41599(98)', '🇺🇸Rochester, United States', '3.8February 20, 2002', 'Very good.  Although some will disagree with me not the best Hefeweizen out there, but it is very very good.', 'Aroma', '7', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '4', 'Overall', '15']

['Evster64(107)', '🇺🇸Kempner, United States', '3.8February 19, 2002', 'Liquid bread....with the classical doughy aroma and flavor of a German Wheat.  Flavor is consistent front to back, with a strong yeast influence.  A solid hefe.', 'Aroma', '7', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '3', 'Overall', '16']

In [32]:
# 새로운 데이터 ttmp 생성
ttmp = tmp.copy()

# 맥주 정보 리스트 출력 - 좋아요 수가 기록된 유저 정보
# 맨 마지막 9는 좋아요 수임
ttmp['맥주정보'].iloc[10]

['deanso(15,165)',
 '🇬🇧Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 'Thin white head.  Clear golden pour. Bland and watery',
 'CASK',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '3',
 'Overall',
 '9']

- 좋아요 수가 없는 경우 -> 뒤에서부터 10개의 값 가져와야함
- 좋아요 수가 있는 경우 -> 제거한 뒤 10개의 값을 가져와야함

In [33]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 거 삭제
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x if x[-2] == 'Overall' else x[:-1])

In [34]:
# 맥주정보에서 0, 1, 2, 3번째 리스트 요소와 뒤에서부터 10개의 리스트요소(평점값) 추출
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[:4] + x[:-11:-1])

In [35]:
# 좋아요 수 정상적으로 삭제되었는지 확인
ttmp['맥주정보'].iloc[10]

['deanso(15,165)',
 '🇬🇧Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 '9',
 'Overall',
 '3',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '4',
 'Aroma']

## 3. 실제 컬럼으로 데이터 분리하기

In [36]:
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])

In [38]:
# 리스트의 1, 2, 3번쨰 요소(평점날짜 / 이상한 값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[1:4])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x: len(x))

In [40]:
# 결과확인
ttmp.head(3)

,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,길이
0,"[🇺🇸Penndel, United States, 2.8September 6, 202...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3
1,"[🇺🇸Aurora, United States, 3.9August 29, 2021, ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3
2,"[🇨🇦Toronto (Can) Krotoszyn (Pol), Canada, 2.4J...",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3

## 4. 평점 | 날짜 데이터 골라내기

- 문제 -> 평점, 날짜가 있는 리스트의 인덱스가 그때그때 다름 (규칙적이지 않음)
- 리스트에서 1번인지 2번 인덱스인지 알 수 없음
- 하지만, 문자열 자체는 규칙적임
  - 4.0December 9, 2007
  - 평점 + 날짜 (즉, 숫자 + 문자열)

In [45]:
for i in range(70000, 71000, 100):
  print(ttmp['맥주정보'].iloc[i], '\n\n')

['🇺🇸Scottsdale, United States', '3.4April 17, 2008', 'Pretty good hef.  Poured a nice unfiltered gold with plenty of head. Smooth and more mild than most in this catagory.  Aroma of wheat malt and bananas led to a crisp refreshing…']


['🇨🇦LaPrairie, Canada', '4.0December 9, 2007', 'Light cereal aroma, slight banana at first, followed by some clove and corriander. Full white head with lacing. Color is a hazy apticot. Excelent carbonation.This is a well balanced…']


['🇺🇸Alamo, United States', '3.3July 30, 2007', 'Daft. Hazy orange-amber with an off-white head. Nice banana-clove aroma with lots of yeasy spiciness. Flavor not as strong as the aroma, but still has clove/banana and some wheat (not…']


['🇺🇸Woodland, United States', '3.5April 16, 2007', 'As Paulaner Hefe-Weizen Natural Wheat in "1pint 9oz" bottle. Aroma of wheat, banana, clove, but not hop. Hazy orange gold color with a transient white head. Starts with medium…']


['🇩🇪Germany', '5.0November 1, 2006', 'The best Hefeweizen beer ever! Taste, appearance and palate perfectly harmonize. A great beer .... if not the greatest in all over the world!']


['🇺🇸Denver, United States', '3.6May 4, 2006', 'I’ve had both bottled and Draught. Draught is definitely better with stronger flavors, but I think this is more an issue of freshness and distributor handling. Pours a nice orange-yello…']


['🇺🇸St.louis, United States', '2.7October 15, 2005', 'Pour is a hazy yellow with a huge white head.  Aroma is my is hard to detect but you do get some spices and cloves.  Flavor is a bit weak in mine.  In fact i have to really almost try to detect…']


['🇮🇸Kópavogur, Iceland', '3.8February 21, 2005', 'nice floral nose, lime and banana maybe also. Really refreshing, nice body considering the style, nice moutfeel with the taste buds having a little bit of a fiesta']


['🇨🇦Montreal, Canada', '3.5June 11, 2004', 'Pours with a thick, white, fugaceous head and a cloudy golden color. Low carbonation. Very appealing aroma of citrus and spices. Nice flavors, very spicy, fruity and sweet. It has the…']


['🇺🇸Crown Point, United States', '3.3September 18, 2003', 'Probably THE textbook version.  Hazy dark yellow with a big vanilla colored head.  Estery nose of banana and ajust a hint of clove.  Smooth, medium body offers rushes of sweet malt and…']

In [46]:
# 평점과 날짜를 뽑아오기 위해 정규식 사용
import re

# ex. 4.0December 9, 2007 뽑아오기
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [47]:
# 정규표현식에 해당하는 문자열과 매칭되는 경우 해당 리스트 요소를 맥주정보에 저장
# reg.match() -> re.comile()의 정규표현식과 일치하는 문자열 반환, 아니면 false 반환

ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[0] if reg.match(x[0]) else (x[1] if reg.match(x[1]) else x[2]))

In [48]:
# 결과 확인하기
ttmp.head(3)

,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,길이
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3

## 5. 평점과 날짜 데이터 분리하기

In [49]:
# 평점은 0~3번째, 날짜는 그 이후
ttmp['평점'] = ttmp['맥주정보'].apply(lambda x: x[:3])
ttmp['날짜'] = ttmp['맥주정보'].apply(lambda x: x[3:])

In [50]:
ttmp.head(3)

,맥주정보,검색이름,맥주이름,맥주회사,맥주원산지,맥주종류,맥주도수,맥주IBU,맥주평점,맥주설명,맥주칼로리,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,길이,평점,날짜
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3,2.8,"September 6, 2021"
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3,3.9,"August 29, 2021"
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"🇰🇷 Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3,2.4,"June 5, 2021"

In [51]:
ttmp.columns

Index(['맥주정보', '검색이름', '맥주이름', '맥주회사', '맥주원산지', '맥주종류', '맥주도수', '맥주IBU',
       '맥주평점', '맥주설명', '맥주칼로리', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '길이', '평점', '날짜'],
      dtype='object')

In [54]:
# 컬럼명 변경하기
ttmp.columns = ['맥주정보', '검색이름', '맥주', '맥주회사', '맥주원산지', '맥주종류', '맥주도수', '맥주IBU', '맥주평점', '맥주설명', '맥주칼로리', '아이디', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall', '길이', '평점', '날짜']

In [57]:
# 필요한 컬럼 추출
# temp = ttmp[['아이디', '맥주', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

In [61]:
ttmp.평점.unique()

array(['2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0', '2.9',
       '2.2', '3.2', '2.5', '2.7', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '1.4', '3.3', '1.2', '4.3', '3.4', '3.6', '3.5',
       '4.2', '3.8', '4.5', '4.9', '4.4', '0.6', '4.8', '3.7', '4.1',
       '4.6', '0Ma'], dtype=object)

In [62]:
ttmp.Aroma.unique()

array(['5', '10', '6', '4', '1', '9', '3', '-', '7', '2', '8'],
      dtype=object)

In [68]:
ttmp. Overall.unique()

array(['12', '9', '6', '15', '7', '11', '10', '8', '4', '13', '5', '1',
       '3', '14', '20', '2', '18', '17', '16', '19'], dtype=object)

In [63]:
# - 값 삭제
ttmp = ttmp[ttmp['평점'] != '0Ma']
ttmp = ttmp[ttmp['Aroma'] != '-']
ttmp = ttmp[ttmp['Appearance'] != '-']
ttmp = ttmp[ttmp['Flavor'] != '-']
ttmp = ttmp[ttmp['Mouthfeel'] != '-']
ttmp = ttmp[ttmp['Overall'] != '-']

ttmp[ttmp['Aroma'] == '-']

Empty DataFrame
Columns: [맥주정보, 검색이름, 맥주, 맥주회사, 맥주원산지, 맥주종류, 맥주도수, 맥주IBU, 맥주평점, 맥주설명, 맥주칼로리, 아이디, Aroma, Appearance, Flavor, Mouthfeel, Overall, 길이, 평점, 날짜]
Index: []

In [64]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70933 entries, 0 to 905
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   맥주정보        70933 non-null  object
 1   검색이름        70933 non-null  object
 2   맥주          70933 non-null  object
 3   맥주회사        70933 non-null  object
 4   맥주원산지       70933 non-null  object
 5   맥주종류        70933 non-null  object
 6   맥주도수        70933 non-null  object
 7   맥주IBU       27061 non-null  object
 8   맥주평점        70933 non-null  float64
 9   맥주설명        69713 non-null  object
 10  맥주칼로리       69783 non-null  object
 11  아이디         70933 non-null  object
 12  Aroma       70933 non-null  object
 13  Appearance  70933 non-null  object
 14  Flavor      70933 non-null  object
 15  Mouthfeel   70933 non-null  object
 16  Overall     70933 non-null  object
 17  길이          70933 non-null  int64
 18  평점          70933 non-null  object
 19  날짜          70933 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 11.4+ MB

- 평점, Aroma, Appearance, Flavor, Mouthfeel, Overall값이 실수값이 아님
- pd.to_numeric() 함수를 이용해 오브젝트 타입들을 실수로 변환

In [69]:
# 수치형 데이터 실수로 변환하기
ttmp['평점'] = pd.to_numeric(ttmp['평점'])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

# 중복된 행들 제거하기
ttmp.drop_duplicates(keep='first', inplace=True)

In [70]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70932 entries, 0 to 905
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   맥주정보        70932 non-null  object
 1   검색이름        70932 non-null  object
 2   맥주          70932 non-null  object
 3   맥주회사        70932 non-null  object
 4   맥주원산지       70932 non-null  object
 5   맥주종류        70932 non-null  object
 6   맥주도수        70932 non-null  object
 7   맥주IBU       27061 non-null  object
 8   맥주평점        70932 non-null  float64
 9   맥주설명        69713 non-null  object
 10  맥주칼로리       69782 non-null  object
 11  아이디         70932 non-null  object
 12  Aroma       70932 non-null  int64
 13  Appearance  70932 non-null  int64
 14  Flavor      70932 non-null  int64
 15  Mouthfeel   70932 non-null  int64
 16  Overall     70932 non-null  int64
 17  길이          70932 non-null  int64
 18  평점          70932 non-null  float64
 19  날짜          70932 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 11.4+ MB

In [71]:
# 최종 데이터 값 분포 확인하기
ttmp.describe()

,맥주평점,Aroma,Appearance,Flavor,Mouthfeel,Overall,길이,평점
count,70932.000000,70932.000000,70932.000000,70932.000000,70932.000000,70932.000000,70932.0,70932.000000
mean,2.882267,5.214544,3.105087,5.469915,2.900299,10.991330,3.0,2.768181
std,0.689666,2.111774,1.001407,2.062722,0.989811,4.366391,0.0,0.966142
min,1.680000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,0.500000
25%,2.380000,4.000000,2.000000,4.000000,2.000000,8.000000,3.0,2.100000
50%,2.890000,5.000000,3.000000,6.000000,3.000000,11.000000,3.0,2.900000
75%,3.380000,7.000000,4.000000,7.000000,4.000000,14.000000,3.0,3.500000
max,4.150000,10.000000,5.000000,10.000000,5.000000,20.000000,3.0,5.000000

In [73]:
ttmp.to_csv('맥주전처리후데이터_전체.csv', encoding='utf-8')

In [74]:
temp = ttmp[['아이디', '맥주', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

temp.to_csv('맥주전처리후데이터.csv', encoding='utf-8')