## ë°ì´í„° ë³‘í•©

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
data = pd.DataFrame(data=[], columns=['ë§¥ì£¼ì •ë³´',	'ê²€ìƒ‰ì´ë¦„',	'ë§¥ì£¼ì´ë¦„',	'ë§¥ì£¼íšŒì‚¬',	'ë§¥ì£¼ì›ì‚°ì§€',	'ë§¥ì£¼ì¢…ë¥˜',	'ë§¥ì£¼ë„ìˆ˜',	'ë§¥ì£¼IBU',	'ë§¥ì£¼í‰ì ',	'ë§¥ì£¼ì„¤ëª…',	'ë§¥ì£¼ì¹¼ë¡œë¦¬'])

In [8]:
import os

data_dir = '/content/drive/MyDrive/data'
file_ex = r'.csv'
beer_csv_list = [file for file in os.listdir(data_dir) if file.endswith(file_ex)]
beer_csv_list

['beer_n_Kloud Original Gravity.csv',
 'beer_n_Kloud Fitz Super Clear.csv',
 'beer_n_San Miguel.csv',
 'beer_n_OB Premier Pilsner.csv',
 'beer_n_FiLite.csv',
 'beer_n_Jeju Wit Ale.csv',
 'beer_n_Stephans BraÌˆu Premium Pilsener.csv',
 'beer_n_Stephans BraÌˆu Premium Lager.csv',
 'beer_n_Stephans BraÌˆu Hefe-Weizen NaturtruÌˆb.csv',
 'beer_n_Miller Genuine Draft (MGD).csv',
 'beer_n_Hoegaarden Cherry.csv',
 "beer_n_Suntory The Premium Malt's.csv",
 'beer_n_Reeper B. Blondes Weissbier.csv',
 'beer_n_Asahi Super Dry.csv',
 'beer_n_Budweiser.csv',
 'beer_n_Sapporo Yebisu.csv',
 'beer_n_Tiger Beer.csv',
 'beer_n_Tsingtao.csv',
 'beer_n_LoÌˆwenbraÌˆu Original (4.2%).csv',
 'beer_n_Asahi Super Dry Black.csv',
 'beer_n_Harbin Beer.csv',
 'beer_n_Erdinger Weissbier.csv',
 "beer_n_Queen's Ale Blonde Type.csv",
 'beer_n_Volfas Engelman GruÌˆnberger Hefeweizen.csv',
 'beer_n_OB Golden Lager.csv',
 'beer_n_Kabrew Hoptandu IPA.csv',
 'beer_n_Jeju Baengnokdam Ale.csv',
 'beer_n_Magners Juicy Apple.csv',
 'beer_n_Berliner Kindl JubilaÌˆums Pilsener Premium.csv',
 'beer_n_Jeju Pellong Ale.csv',
 'beer_n_Kabrew Kumiho Relax Beer.csv',
 'beer_n_Jeju Seongsan Ilchulbong Ale.csv',
 'beer_n_Red Rock.csv',
 'beer_n_Jeju Barrel Series-Imperial Stout Edition - Highland Park.csv',
 'beer_n_Hollandia.csv',
 'beer_n_Grimbergen CuveÌe Blanche.csv',
 "beer_n_Beck's.csv",
 'beer_n_Erdinger Weissbier Dunkel.csv',
 'beer_n_Hoegaarden RoseÌe.csv',
 'beer_n_Platinum White Ale.csv',
 'beer_n_Goose Island Goose IPA.csv',
 'beer_n_Amazing Shocking Stout.csv',
 'beer_n_Amazing First Love.csv',
 'beer_n_ARK Brown.csv',
 'beer_n_ARK Classic.csv',
 'beer_n_ARK Cony.csv',
 'beer_n_ARK Yeosu Night Ale.csv',
 'beer_n_Goose Island 312 Urban Wheat Ale.csv',
 'beer_n_Heretic Evil Twin.csv',
 'beer_n_Warsteiner Premium Verum.csv',
 'beer_n_Somersby Pear Cider.csv',
 'beer_n_7BraÌˆu Gompyo Wheatbeer.csv',
 'beer_n_Squeeze Malpyo Dark Beer.csv',
 'beer_n_Edelweiss Cherry & Lavender.csv',
 'beer_n_Squeeze Malpyo Green Grape Ale.csv',
 'beer_n_7BraÌˆu Korea Pale Ale.csv',
 'beer_n_Somersby Apple Cider.csv',
 'beer_n_The Hand and Malt Slow IPA.csv',
 'beer_n_Cass Lemon.csv',
 'beer_n_HiteJinro Filite Fresh Cool & Clear.csv',
 'beer_n_Lagunitas India Pale Ale (IPA).csv',
 'beer_n_North Coast Old Rasputin Russian Imperial Stout.csv',
 'beer_n_Blue Moon Belgian White.csv',
 'beer_n_Kona Big Wave Golden Ale.csv',
 'beer_n_Ballast Point Sculpin IPA.csv',
 'beer_n_PreÌaris Citra Sauvignon Session Ale.csv',
 'beer_n_Samuel Adams Irish Red Ale.csv',
 'beer_n_Hite Prime Max.csv',
 'beer_n_Edelweiss Weissbier Snowfresh.csv',
 'beer_n_Kronenbourg 1664 Blanc.csv',
 'beer_n_Heineken Dark Lager.csv',
 'beer_n_Victoria Bitter.csv',
 'beer_n_Bintang Pilsener.csv',
 'beer_n_Kozel CÌŒernyÌ (Dark) 10Â°.csv',
 'beer_n_Krombacher Weizen.csv',
 'beer_n_Lapin Kulta IV A.csv',
 'beer_n_Heineken.csv',
 'beer_n_Platinum Pale Ale.csv',
 'beer_n_Pilsner Urquell.csv',
 'beer_n_Apple Fox.csv',
 'beer_n_Grolsch Premium Lager.csv',
 'beer_n_Kabrew Kumiho India Pale Ale.csv',
 'beer_n_Gambrinus OriginaÌl 10Â° (DesiÌtka).csv',
 'beer_n_Castlemaine XXXX Gold Lager.csv',
 'beer_n_Hite Extra Cold.csv',
 'beer_n_Tiger Radler Lemon.csv',
 'beer_n_Cass Fresh.csv',
 'beer_n_Bright Leaf Peeper Red IPA.csv',
 'beer_n_Tsingtao Wheat Beer.csv',
 'beer_n_Egger MaÌˆrzenbier.csv',
 'beer_n_Holsten Premium Bier.csv',
 'beer_n_Carlsberg Pilsner.csv',
 'beer_n_Kirin Ichiban.csv',
 'beer_n_Blue Girl (5.0%).csv',
 'beer_n_ARK Cosmic Dancer.csv',
 'beer_n_ARK Seoulite Ale.csv',
 'beer_n_Kabrew Golden Ale.csv',
 'beer_n_Peroni Nastro Azzurro.csv',
 'beer_n_Desperados Red.csv',
 'beer_n_Schneider Weisse Tap 05 - Hopfenweisse Weizendoppelbock.csv',
 'beer_n_Desperados Mojito.csv',
 'beer_n_ARK Hug Me.csv',
 'beer_n_Desperados Lime.csv',
 'beer_n_ARK Black Swan.csv',
 'beer_n_ARK Be High IPA.csv',
 'beer_n_Kabrew Namsan Mountain Premium Citra Ale.csv',
 'beer_n_Cass Light.csv',
 'beer_n_Kabrew Kumiho Peach Ale.csv',
 'beer_n_Kabrew Gyeongbokgung Royal Pride IPA.csv',
 'beer_n_Paulaner Hefe-Weissbier.csv',
 'beer_n_Desperados.csv']

In [12]:
tmp = pd.read_csv('/content/drive/MyDrive/data/' + beer_csv_list[0], index_col=0)
tmp

,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬
0,"italianjohn(5,219)\nğŸ‡ºğŸ‡¸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,"orda(281)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,"Radek Kliber(8,060)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,"geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,"Wolff90(195)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
...,...,...,...,...,...,...,...,...,...,...,...
103,"fredthecat(548)\nğŸ‡¨ğŸ‡¦Canada\n1.8November 4, 2014...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
104,"dhunter151(590)\nğŸ‡ºğŸ‡¸Santa Rosa, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
105,"maus(46)\nğŸ‡ªğŸ‡ªTartu, Estonia\n2.3July 17, 2014\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
106,"hojoo(4)\n2.8July 16, 2014\nunfortunately, too...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
107,"migojarad(3)\nğŸ‡°ğŸ‡·Seoul, South Korea\n2.1June 17...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml

In [13]:
# ë³‘í•© ì‘ì—…
for i in range(len(beer_csv_list)):
  try:
    tmp = pd.read_csv('/content/drive/MyDrive/data/' + beer_csv_list[i], index_col=0)
    data = pd.concat([data, tmp])
  except:
    # ì˜¤ë¥˜ ë°œ ì‹œ ë„˜ì–´ê°€ê¸°
    print(i, 'ë²ˆì¬ì—ì„œ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŒ. ë‹¤ìŒ íŒŒì¼ë¡œ ë„˜ì–´ê°.')

In [15]:
data.shape

(72140, 11)

In [17]:
# í•©ì¹œ ë°ì´í„° ì €ì¥í•˜ê¸°
data.to_csv('ë§¥ì£¼ì „ì²˜ë¦¬ë°ì´í„°.csv', encoding='utf-8')

In [18]:
# ë§¥ì£¼ ì „ì²˜ë¦¬ ë°ì´í„° í™•ì¸
data = pd.read_csv('/content/ë§¥ì£¼ì „ì²˜ë¦¬ë°ì´í„°.csv')
data.head()

,Unnamed: 0,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬
0,0,"italianjohn(5,219)\nğŸ‡ºğŸ‡¸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,1,"orda(281)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,2,"Radek Kliber(8,060)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,3,"geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,4,"Wolff90(195)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72140 entries, 0 to 72139
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72140 non-null  int64
 1   ë§¥ì£¼ì •ë³´        72140 non-null  object
 2   ê²€ìƒ‰ì´ë¦„        72140 non-null  object
 3   ë§¥ì£¼ì´ë¦„        72140 non-null  object
 4   ë§¥ì£¼íšŒì‚¬        72140 non-null  object
 5   ë§¥ì£¼ì›ì‚°ì§€       72140 non-null  object
 6   ë§¥ì£¼ì¢…ë¥˜        72140 non-null  object
 7   ë§¥ì£¼ë„ìˆ˜        72140 non-null  object
 8   ë§¥ì£¼IBU       27523 non-null  object
 9   ë§¥ì£¼í‰ì         72140 non-null  float64
 10  ë§¥ì£¼ì„¤ëª…        70887 non-null  object
 11  ë§¥ì£¼ì¹¼ë¡œë¦¬       70958 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 6.6+ MB

# ì „ì²˜ë¦¬ ì‘ì—…

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('/content/drive/MyDrive/á„†á…¢á†¨á„Œá…®á„Œá…¥á†«á„á…¥á„…á…µá„ƒá…¦á„‹á…µá„á…¥.csv', encoding='utf-8', index_col=0)

In [22]:
data

,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬
0,"italianjohn(5,219)\nğŸ‡ºğŸ‡¸Penndel, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
1,"orda(281)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
2,"Radek Kliber(8,060)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
3,"geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
4,"Wolff90(195)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml
...,...,...,...,...,...,...,...,...,...,...,...
901,"caesar(7,642)\nğŸ‡³ğŸ‡±Bunnik, Netherlands\n2.7Augus...",Desperados,Desperados,Heineken France (Heineken),"ğŸ‡«ğŸ‡· Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
902,"jerohen(2,619)\nğŸ‡³ğŸ‡±Bussum, Netherlands\n2.3Augu...",Desperados,Desperados,Heineken France (Heineken),"ğŸ‡«ğŸ‡· Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
903,"Panzuriel(2,662)\nğŸ‡ºğŸ‡¸Westerville, United States...",Desperados,Desperados,Heineken France (Heineken),"ğŸ‡«ğŸ‡· Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
904,brewmeistersgb(10)\nğŸ‡ºğŸ‡¸United States\n2.5August...,Desperados,Desperados,Heineken France (Heineken),"ğŸ‡«ğŸ‡· Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml
905,"karsten(240)\nğŸ‡©ğŸ‡°odense, Denmark\n1.6August 7, ...",Desperados,Desperados,Heineken France (Heineken),"ğŸ‡«ğŸ‡· Rueil-Malmaison, Ile-de-France, France",Flavored - Other,5.9%,NaN,2.10,"Richness of a universe, power of a name, refre...",177 cal per 355ml

In [23]:
# raw ë§¥ì£¼ì •ë³´
data['ë§¥ì£¼ì •ë³´'].iloc[0]

'italianjohn(5,219)\nğŸ‡ºğŸ‡¸Penndel, United States\n2.8September 6, 2021\nClear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of the same,â€¦\nShow more\nBOTTLE\nAroma\n5\nAppearance\n3\nFlavor\n5\nMouthfeel\n3\nOverall\n12'

## 1, ë§¥ì£¼ì •ë³´ ë¬¸ìì—´ ë¶„ë¦¬í•˜ê¸° ('\n')

In [24]:
tmp = data.copy()

In [25]:
# ê°œí–‰ë¬¸ì ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬
tmp['ë§¥ì£¼ì •ë³´'] = tmp['ë§¥ì£¼ì •ë³´'].str.split('\n')
tmp['ë§¥ì£¼ì •ë³´']

0      [italianjohn(5,219), ğŸ‡ºğŸ‡¸Penndel, United States,...
1      [orda(281), ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August...
2      [Radek Kliber(8,060), ğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszy...
3      [geologyguy(2,575), ğŸ‡ºğŸ‡¸Columbia, United States,...
4      [Wolff90(195), ğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden, 1.0Fe...
                             ...
901    [caesar(7,642), ğŸ‡³ğŸ‡±Bunnik, Netherlands, 2.7Augu...
902    [jerohen(2,619), ğŸ‡³ğŸ‡±Bussum, Netherlands, 2.3Aug...
903    [Panzuriel(2,662), ğŸ‡ºğŸ‡¸Westerville, United State...
904    [brewmeistersgb(10), ğŸ‡ºğŸ‡¸United States, 2.5Augus...
905    [karsten(240), ğŸ‡©ğŸ‡°odense, Denmark, 1.6August 7,...
Name: ë§¥ì£¼ì •ë³´, Length: 72140, dtype: object

In [26]:
# ë¶„ë¦¬ëœ ìŠ¤íŠ¸ë§ê°’ë“¤ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜ëœ ê²ƒ í™•ì¸
tmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['italianjohn(5,219)',
 'ğŸ‡ºğŸ‡¸Penndel, United States',
 '2.8September 6, 2021',
 'Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of the same,â€¦',
 'Show more',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '3',
 'Overall',
 '12']

## 2. ì¢‹ì•„ìš” ìˆ˜ ì‚­ì œí•˜ê¸°

- ë§¥ì£¼ì •ë³´ ë°ì´í„°ì—ì„œ í•„ìš”í•œ ë°ì´í„°ëŠ” ë‹¤ìŒê³¼ ê°™ìŒ
  - ì•„ì´ë””
  - í‰ì |ë‚ ì§œ
  - Aroma
  - Appearance
  - Flavor
  - Mouthfeel
  - Overall
- ìœ„ ë°ì´í„°ëŠ” ë¦¬ìŠ¤íŠ¸ ì¸ë±ìŠ¤ë¡œ, ì•ì—ì„œ 2ê°œ ë’¤ì—ì„œ 10ê°œëŠ” ê¼­ í•„ìš”
- íŒ¨í„´ì˜ ë¶ˆê·œì¹™í•¨
  - ì•„ì´ë””, í‰ì |ë‚ ì§œìˆœ
  - ì•„ì´ë””, êµ­ì , í‰ì |ë‚ ì§œ
  - ì•„ì´ë””, êµ­ì , (ë¶ˆí•„ìš”ê°’), í‰ì |ë‚ ì§œ

In [27]:
tmp.shape

(72140, 11)

In [29]:
for i in range(71140, 71143):
  print(tmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['spohl199(6)', 'ğŸ‡ºğŸ‡¸United States', '5.0February 21, 2002', 'Wow, was ein Bier, neben Erdinger das beste wo gibt!........................', 'Aroma', '10', 'Appearance', '5', 'Flavor', '10', 'Mouthfeel', '5', 'Overall', '20']

['kilgore41599(98)', 'ğŸ‡ºğŸ‡¸Rochester, United States', '3.8February 20, 2002', 'Very good.  Although some will disagree with me not the best Hefeweizen out there, but it is very very good.', 'Aroma', '7', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '4', 'Overall', '15']

['Evster64(107)', 'ğŸ‡ºğŸ‡¸Kempner, United States', '3.8February 19, 2002', 'Liquid bread....with the classical doughy aroma and flavor of a German Wheat.  Flavor is consistent front to back, with a strong yeast influence.  A solid hefe.', 'Aroma', '7', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '3', 'Overall', '16']

In [32]:
# ìƒˆë¡œìš´ ë°ì´í„° ttmp ìƒì„±
ttmp = tmp.copy()

# ë§¥ì£¼ ì •ë³´ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ - ì¢‹ì•„ìš” ìˆ˜ê°€ ê¸°ë¡ëœ ìœ ì € ì •ë³´
# ë§¨ ë§ˆì§€ë§‰ 9ëŠ” ì¢‹ì•„ìš” ìˆ˜ì„
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['deanso(15,165)',
 'ğŸ‡¬ğŸ‡§Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 'Thin white head.  Clear golden pour. Bland and watery',
 'CASK',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '3',
 'Overall',
 '9']

- ì¢‹ì•„ìš” ìˆ˜ê°€ ì—†ëŠ” ê²½ìš° -> ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ê°’ ê°€ì ¸ì™€ì•¼í•¨
- ì¢‹ì•„ìš” ìˆ˜ê°€ ìˆëŠ” ê²½ìš° -> ì œê±°í•œ ë’¤ 10ê°œì˜ ê°’ì„ ê°€ì ¸ì™€ì•¼í•¨

In [33]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¢‹ì•„ìš”ê°€ 1ê°œì¸ ê²ƒ ì°¾ì•„ì„œ ë§¨ ë’¤ì— ê±° ì‚­ì œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x if x[-2] == 'Overall' else x[:-1])

In [34]:
# ë§¥ì£¼ì •ë³´ì—ì„œ 0, 1, 2, 3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì™€ ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ë¦¬ìŠ¤íŠ¸ìš”ì†Œ(í‰ì ê°’) ì¶”ì¶œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[:4] + x[:-11:-1])

In [35]:
# ì¢‹ì•„ìš” ìˆ˜ ì •ìƒì ìœ¼ë¡œ ì‚­ì œë˜ì—ˆëŠ”ì§€ í™•ì¸
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['deanso(15,165)',
 'ğŸ‡¬ğŸ‡§Doncaster, England',
 '2.3January 16, 2020',
 '33cl can from lucky supermarket, siem reap.',
 '9',
 'Overall',
 '3',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '4',
 'Aroma']

## 3. ì‹¤ì œ ì»¬ëŸ¼ìœ¼ë¡œ ë°ì´í„° ë¶„ë¦¬í•˜ê¸°

In [36]:
ttmp['ID'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-10])

In [38]:
# ë¦¬ìŠ¤íŠ¸ì˜ 1, 2, 3ë²ˆì¨° ìš”ì†Œ(í‰ì ë‚ ì§œ / ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[1:4])
ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: len(x))

In [40]:
# ê²°ê³¼í™•ì¸
ttmp.head(3)

,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,ê¸¸ì´
0,"[ğŸ‡ºğŸ‡¸Penndel, United States, 2.8September 6, 202...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3
1,"[ğŸ‡ºğŸ‡¸Aurora, United States, 3.9August 29, 2021, ...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3
2,"[ğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn (Pol), Canada, 2.4J...",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3

## 4. í‰ì  | ë‚ ì§œ ë°ì´í„° ê³¨ë¼ë‚´ê¸°

- ë¬¸ì œ -> í‰ì , ë‚ ì§œê°€ ìˆëŠ” ë¦¬ìŠ¤íŠ¸ì˜ ì¸ë±ìŠ¤ê°€ ê·¸ë•Œê·¸ë•Œ ë‹¤ë¦„ (ê·œì¹™ì ì´ì§€ ì•ŠìŒ)
- ë¦¬ìŠ¤íŠ¸ì—ì„œ 1ë²ˆì¸ì§€ 2ë²ˆ ì¸ë±ìŠ¤ì¸ì§€ ì•Œ ìˆ˜ ì—†ìŒ
- í•˜ì§€ë§Œ, ë¬¸ìì—´ ìì²´ëŠ” ê·œì¹™ì ì„
  - 4.0December 9, 2007
  - í‰ì  + ë‚ ì§œ (ì¦‰, ìˆ«ì + ë¬¸ìì—´)

In [45]:
for i in range(70000, 71000, 100):
  print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n\n')

['ğŸ‡ºğŸ‡¸Scottsdale, United States', '3.4April 17, 2008', 'Pretty good hef.  Poured a nice unfiltered gold with plenty of head. Smooth and more mild than most in this catagory.  Aroma of wheat malt and bananas led to a crisp refreshingâ€¦']


['ğŸ‡¨ğŸ‡¦LaPrairie, Canada', '4.0December 9, 2007', 'Light cereal aroma, slight banana at first, followed by some clove and corriander. Full white head with lacing. Color is a hazy apticot. Excelent carbonation.This is a well balancedâ€¦']


['ğŸ‡ºğŸ‡¸Alamo, United States', '3.3July 30, 2007', 'Daft. Hazy orange-amber with an off-white head. Nice banana-clove aroma with lots of yeasy spiciness. Flavor not as strong as the aroma, but still has clove/banana and some wheat (notâ€¦']


['ğŸ‡ºğŸ‡¸Woodland, United States', '3.5April 16, 2007', 'As Paulaner Hefe-Weizen Natural Wheat in "1pint 9oz" bottle. Aroma of wheat, banana, clove, but not hop. Hazy orange gold color with a transient white head. Starts with mediumâ€¦']


['ğŸ‡©ğŸ‡ªGermany', '5.0November 1, 2006', 'The best Hefeweizen beer ever! Taste, appearance and palate perfectly harmonize. A great beer .... if not the greatest in all over the world!']


['ğŸ‡ºğŸ‡¸Denver, United States', '3.6May 4, 2006', 'Iâ€™ve had both bottled and Draught. Draught is definitely better with stronger flavors, but I think this is more an issue of freshness and distributor handling. Pours a nice orange-yelloâ€¦']


['ğŸ‡ºğŸ‡¸St.louis, United States', '2.7October 15, 2005', 'Pour is a hazy yellow with a huge white head.  Aroma is my is hard to detect but you do get some spices and cloves.  Flavor is a bit weak in mine.  In fact i have to really almost try to detectâ€¦']


['ğŸ‡®ğŸ‡¸KÃ³pavogur, Iceland', '3.8February 21, 2005', 'nice floral nose, lime and banana maybe also. Really refreshing, nice body considering the style, nice moutfeel with the taste buds having a little bit of a fiesta']


['ğŸ‡¨ğŸ‡¦Montreal, Canada', '3.5June 11, 2004', 'Pours with a thick, white, fugaceous head and a cloudy golden color. Low carbonation. Very appealing aroma of citrus and spices. Nice flavors, very spicy, fruity and sweet. It has theâ€¦']


['ğŸ‡ºğŸ‡¸Crown Point, United States', '3.3September 18, 2003', 'Probably THE textbook version.  Hazy dark yellow with a big vanilla colored head.  Estery nose of banana and ajust a hint of clove.  Smooth, medium body offers rushes of sweet malt andâ€¦']

In [46]:
# í‰ì ê³¼ ë‚ ì§œë¥¼ ë½‘ì•„ì˜¤ê¸° ìœ„í•´ ì •ê·œì‹ ì‚¬ìš©
import re

# ex. 4.0December 9, 2007 ë½‘ì•„ì˜¤ê¸°
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [47]:
# ì •ê·œí‘œí˜„ì‹ì— í•´ë‹¹í•˜ëŠ” ë¬¸ìì—´ê³¼ ë§¤ì¹­ë˜ëŠ” ê²½ìš° í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œë¥¼ ë§¥ì£¼ì •ë³´ì— ì €ì¥
# reg.match() -> re.comile()ì˜ ì •ê·œí‘œí˜„ì‹ê³¼ ì¼ì¹˜í•˜ëŠ” ë¬¸ìì—´ ë°˜í™˜, ì•„ë‹ˆë©´ false ë°˜í™˜

ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0] if reg.match(x[0]) else (x[1] if reg.match(x[1]) else x[2]))

In [48]:
# ê²°ê³¼ í™•ì¸í•˜ê¸°
ttmp.head(3)

,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,ê¸¸ì´
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3

## 5. í‰ì ê³¼ ë‚ ì§œ ë°ì´í„° ë¶„ë¦¬í•˜ê¸°

In [49]:
# í‰ì ì€ 0~3ë²ˆì§¸, ë‚ ì§œëŠ” ê·¸ ì´í›„
ttmp['í‰ì '] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[:3])
ttmp['ë‚ ì§œ'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[3:])

In [50]:
ttmp.head(3)

,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼íšŒì‚¬,ë§¥ì£¼ì›ì‚°ì§€,ë§¥ì£¼ì¢…ë¥˜,ë§¥ì£¼ë„ìˆ˜,ë§¥ì£¼IBU,ë§¥ì£¼í‰ì,ë§¥ì£¼ì„¤ëª…,ë§¥ì£¼ì¹¼ë¡œë¦¬,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,ê¸¸ì´,í‰ì,ë‚ ì§œ
0,"2.8September 6, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"italianjohn(5,219)",5,3,5,3,12,3,2.8,"September 6, 2021"
1,"3.9August 29, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,orda(281),10,5,10,5,9,3,3.9,"August 29, 2021"
2,"2.4June 5, 2021",kloud,Kloud Original Gravity,Lotte Liquor BG,"ğŸ‡°ğŸ‡· Seoul, South Korea",Pale Lager - International / Premium,5.0%,NaN,2.48,100% Malt Real Beer. Original Gravity. Rich & ...,150 cal per 355ml,"Radek Kliber(8,060)",6,3,4,2,9,3,2.4,"June 5, 2021"

In [51]:
ttmp.columns

Index(['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼íšŒì‚¬', 'ë§¥ì£¼ì›ì‚°ì§€', 'ë§¥ì£¼ì¢…ë¥˜', 'ë§¥ì£¼ë„ìˆ˜', 'ë§¥ì£¼IBU',
       'ë§¥ì£¼í‰ì ', 'ë§¥ì£¼ì„¤ëª…', 'ë§¥ì£¼ì¹¼ë¡œë¦¬', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'ê¸¸ì´', 'í‰ì ', 'ë‚ ì§œ'],
      dtype='object')

In [54]:
# ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
ttmp.columns = ['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼', 'ë§¥ì£¼íšŒì‚¬', 'ë§¥ì£¼ì›ì‚°ì§€', 'ë§¥ì£¼ì¢…ë¥˜', 'ë§¥ì£¼ë„ìˆ˜', 'ë§¥ì£¼IBU', 'ë§¥ì£¼í‰ì ', 'ë§¥ì£¼ì„¤ëª…', 'ë§¥ì£¼ì¹¼ë¡œë¦¬', 'ì•„ì´ë””', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall', 'ê¸¸ì´', 'í‰ì ', 'ë‚ ì§œ']

In [57]:
# í•„ìš”í•œ ì»¬ëŸ¼ ì¶”ì¶œ
# temp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

In [61]:
ttmp.í‰ì .unique()

array(['2.8', '3.9', '2.4', '2.3', '1.0', '4.0', '2.0', '3.0', '2.9',
       '2.2', '3.2', '2.5', '2.7', '1.5', '3.1', '2.6', '1.7', '1.8',
       '0.5', '1.6', '1.9', '2.1', '0.9', '1.3', '0.8', '1.1', '5.0',
       '0.7', '4.7', '1.4', '3.3', '1.2', '4.3', '3.4', '3.6', '3.5',
       '4.2', '3.8', '4.5', '4.9', '4.4', '0.6', '4.8', '3.7', '4.1',
       '4.6', '0Ma'], dtype=object)

In [62]:
ttmp.Aroma.unique()

array(['5', '10', '6', '4', '1', '9', '3', '-', '7', '2', '8'],
      dtype=object)

In [68]:
ttmp. Overall.unique()

array(['12', '9', '6', '15', '7', '11', '10', '8', '4', '13', '5', '1',
       '3', '14', '20', '2', '18', '17', '16', '19'], dtype=object)

In [63]:
# - ê°’ ì‚­ì œ
ttmp = ttmp[ttmp['í‰ì '] != '0Ma']
ttmp = ttmp[ttmp['Aroma'] != '-']
ttmp = ttmp[ttmp['Appearance'] != '-']
ttmp = ttmp[ttmp['Flavor'] != '-']
ttmp = ttmp[ttmp['Mouthfeel'] != '-']
ttmp = ttmp[ttmp['Overall'] != '-']

ttmp[ttmp['Aroma'] == '-']

Empty DataFrame
Columns: [ë§¥ì£¼ì •ë³´, ê²€ìƒ‰ì´ë¦„, ë§¥ì£¼, ë§¥ì£¼íšŒì‚¬, ë§¥ì£¼ì›ì‚°ì§€, ë§¥ì£¼ì¢…ë¥˜, ë§¥ì£¼ë„ìˆ˜, ë§¥ì£¼IBU, ë§¥ì£¼í‰ì , ë§¥ì£¼ì„¤ëª…, ë§¥ì£¼ì¹¼ë¡œë¦¬, ì•„ì´ë””, Aroma, Appearance, Flavor, Mouthfeel, Overall, ê¸¸ì´, í‰ì , ë‚ ì§œ]
Index: []

In [64]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70933 entries, 0 to 905
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë§¥ì£¼ì •ë³´        70933 non-null  object
 1   ê²€ìƒ‰ì´ë¦„        70933 non-null  object
 2   ë§¥ì£¼          70933 non-null  object
 3   ë§¥ì£¼íšŒì‚¬        70933 non-null  object
 4   ë§¥ì£¼ì›ì‚°ì§€       70933 non-null  object
 5   ë§¥ì£¼ì¢…ë¥˜        70933 non-null  object
 6   ë§¥ì£¼ë„ìˆ˜        70933 non-null  object
 7   ë§¥ì£¼IBU       27061 non-null  object
 8   ë§¥ì£¼í‰ì         70933 non-null  float64
 9   ë§¥ì£¼ì„¤ëª…        69713 non-null  object
 10  ë§¥ì£¼ì¹¼ë¡œë¦¬       69783 non-null  object
 11  ì•„ì´ë””         70933 non-null  object
 12  Aroma       70933 non-null  object
 13  Appearance  70933 non-null  object
 14  Flavor      70933 non-null  object
 15  Mouthfeel   70933 non-null  object
 16  Overall     70933 non-null  object
 17  ê¸¸ì´          70933 non-null  int64
 18  í‰ì           70933 non-null  object
 19  ë‚ ì§œ          70933 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 11.4+ MB

- í‰ì , Aroma, Appearance, Flavor, Mouthfeel, Overallê°’ì´ ì‹¤ìˆ˜ê°’ì´ ì•„ë‹˜
- pd.to_numeric() í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ì˜¤ë¸Œì íŠ¸ íƒ€ì…ë“¤ì„ ì‹¤ìˆ˜ë¡œ ë³€í™˜

In [69]:
# ìˆ˜ì¹˜í˜• ë°ì´í„° ì‹¤ìˆ˜ë¡œ ë³€í™˜í•˜ê¸°
ttmp['í‰ì '] = pd.to_numeric(ttmp['í‰ì '])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

# ì¤‘ë³µëœ í–‰ë“¤ ì œê±°í•˜ê¸°
ttmp.drop_duplicates(keep='first', inplace=True)

In [70]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70932 entries, 0 to 905
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë§¥ì£¼ì •ë³´        70932 non-null  object
 1   ê²€ìƒ‰ì´ë¦„        70932 non-null  object
 2   ë§¥ì£¼          70932 non-null  object
 3   ë§¥ì£¼íšŒì‚¬        70932 non-null  object
 4   ë§¥ì£¼ì›ì‚°ì§€       70932 non-null  object
 5   ë§¥ì£¼ì¢…ë¥˜        70932 non-null  object
 6   ë§¥ì£¼ë„ìˆ˜        70932 non-null  object
 7   ë§¥ì£¼IBU       27061 non-null  object
 8   ë§¥ì£¼í‰ì         70932 non-null  float64
 9   ë§¥ì£¼ì„¤ëª…        69713 non-null  object
 10  ë§¥ì£¼ì¹¼ë¡œë¦¬       69782 non-null  object
 11  ì•„ì´ë””         70932 non-null  object
 12  Aroma       70932 non-null  int64
 13  Appearance  70932 non-null  int64
 14  Flavor      70932 non-null  int64
 15  Mouthfeel   70932 non-null  int64
 16  Overall     70932 non-null  int64
 17  ê¸¸ì´          70932 non-null  int64
 18  í‰ì           70932 non-null  float64
 19  ë‚ ì§œ          70932 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 11.4+ MB

In [71]:
# ìµœì¢… ë°ì´í„° ê°’ ë¶„í¬ í™•ì¸í•˜ê¸°
ttmp.describe()

,ë§¥ì£¼í‰ì,Aroma,Appearance,Flavor,Mouthfeel,Overall,ê¸¸ì´,í‰ì
count,70932.000000,70932.000000,70932.000000,70932.000000,70932.000000,70932.000000,70932.0,70932.000000
mean,2.882267,5.214544,3.105087,5.469915,2.900299,10.991330,3.0,2.768181
std,0.689666,2.111774,1.001407,2.062722,0.989811,4.366391,0.0,0.966142
min,1.680000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,0.500000
25%,2.380000,4.000000,2.000000,4.000000,2.000000,8.000000,3.0,2.100000
50%,2.890000,5.000000,3.000000,6.000000,3.000000,11.000000,3.0,2.900000
75%,3.380000,7.000000,4.000000,7.000000,4.000000,14.000000,3.0,3.500000
max,4.150000,10.000000,5.000000,10.000000,5.000000,20.000000,3.0,5.000000

In [73]:
ttmp.to_csv('ë§¥ì£¼ì „ì²˜ë¦¬í›„ë°ì´í„°_ì „ì²´.csv', encoding='utf-8')

In [74]:
temp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]

temp.to_csv('ë§¥ì£¼ì „ì²˜ë¦¬í›„ë°ì´í„°.csv', encoding='utf-8')