## 외부(내장) 데이터 가져오기

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
sns.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
help(sns.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.

In [7]:
abc = sns.load_dataset("iris")
abc.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
abc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
abc.shape

(150, 5)

In [11]:
abc.size

750

In [13]:
# 원본데이터 바로 적용
abc['sepal1234'] = abc['sepal_length'] + abc['sepal_width']
abc

,sepal_length,sepal_width,petal_length,petal_width,species,sepal1234
0,5.1,3.5,1.4,0.2,setosa,8.6
1,4.9,3.0,1.4,0.2,setosa,7.9
2,4.7,3.2,1.3,0.2,setosa,7.9
3,4.6,3.1,1.5,0.2,setosa,7.7
4,5.0,3.6,1.4,0.2,setosa,8.6
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7
146,6.3,2.5,5.0,1.9,virginica,8.8
147,6.5,3.0,5.2,2.0,virginica,9.5
148,6.2,3.4,5.4,2.3,virginica,9.6
149,5.9,3.0,5.1,1.8,virginica,8.9

In [14]:
abc.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal1234
0           5.1          3.5           1.4          0.2  setosa        8.6
1           4.9          3.0           1.4          0.2  setosa        7.9
2           4.7          3.2           1.3          0.2  setosa        7.9
3           4.6          3.1           1.5          0.2  setosa        7.7
4           5.0          3.6           1.4          0.2  setosa        8.6

## 2. 정규표현식을 활용한 열 검색

##### 열 검색하는 코드 변수명.filter()
##### 정규표현식 옵션 regex=' 패턴 '

In [16]:
abc.head(2)

   sepal_length  sepal_width  petal_length  petal_width species  sepal1234
0           5.1          3.5           1.4          0.2  setosa        8.6
1           4.9          3.0           1.4          0.2  setosa        7.9

In [18]:
# 이름에 _(언더바) 있는 것들을 뽑아줘~
abc.filter(regex='_').head(2)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [19]:
abc.filter(regex='s').head(2)

   sepal_length  sepal_width species  sepal1234
0           5.1          3.5  setosa        8.6
1           4.9          3.0  setosa        7.9

In [20]:
abc.filter(regex='p').head(2)

   sepal_length  sepal_width  petal_length  petal_width species  sepal1234
0           5.1          3.5           1.4          0.2  setosa        8.6
1           4.9          3.0           1.4          0.2  setosa        7.9

In [21]:
# p로 시작하지 않는 컬럼을 뽑아줘
abc.filter(regex='^p').head(2)

   petal_length  petal_width
0           1.4          0.2
1           1.4          0.2

In [22]:
abc.filter(regex='.p').head(2)

   sepal_length  sepal_width species  sepal1234
0           5.1          3.5  setosa        8.6
1           4.9          3.0  setosa        7.9

In [23]:
abc.filter(regex='length$').head(2)

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4

In [24]:
abc.filter(regex='^sepal').head(2)

   sepal_length  sepal_width  sepal1234
0           5.1          3.5        8.6
1           4.9          3.0        7.9

In [25]:
# l 뒤에 숫자 달려있는 것(숫자는 몇개든 상관없음)
abc.filter(regex='l\d+').head(2)

   sepal1234
0        8.6
1        7.9

In [26]:
# l 뒤에 숫자가 4개인 것
abc.filter(regex='l\d{4}').head(2)

   sepal1234
0        8.6
1        7.9

In [27]:
abc.filter(regex='\D$').head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [28]:
# or 연산은 가능하나, and 연산은 지원하지 않음
abc.filter(regex='pet' '|' 'length').head(2)

   sepal_length  petal_length  petal_width
0           5.1           1.4          0.2
1           4.9           1.4          0.2

In [31]:
abc.iloc[-3, [1, 2, 5]]

sepal_width     3.0
petal_length    5.2
sepal1234       9.5
Name: 147, dtype: object

In [29]:
abc.loc[2:5, 'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2
5          3.9           1.7          0.4

In [32]:
abc.loc[abc['sepal_length'] > 5.5, ['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
14            5.8          4.0
15            5.7          4.4
18            5.7          3.8
50            7.0          3.2
51            6.4          3.2
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[91 rows x 2 columns]

## 3. Summarize Data

In [33]:
aa = sns.load_dataset('iris')
aa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [34]:
# 지정한 컬럼의 값 종류별로 그룹화 해서 개수를 보여 줌
aa['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [35]:
pd.DataFrame(aa['species'].value_counts())

            species
setosa           50
versicolor       50
virginica        50

In [36]:
aa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
len(aa)

150

In [39]:
## 값의 종류가 몇 개?
aa['species'].nunique()

3

In [40]:
## 값의 종류(이름)
aa['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [41]:
aa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [42]:
aa.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [43]:
aa.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [44]:
aa.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [45]:
import numpy as np

In [46]:
aa.describe(include=[np.object])

C:\Users\foxgi\AppData\Local\Temp/ipykernel_29688/2504132280.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  aa.describe(include=[np.object])

       species
count      150
unique       3
top     setosa
freq        50

## 4. 결측값 처리

In [47]:
import pandas as pd
import numpy as np

In [49]:
haha = pd.DataFrame(
    {'A': [np.nan, 3, np.nan],
     'B': [2, 4, np.nan],
     'C': [np.nan, np.nan, np.nan],
     'D': [0, 1, 5]
    }
)

In [50]:
help(haha.dropna)

Help on method dropna in module pandas.core.frame:

dropna(axis: 'Axis' = 0, how: 'str' = 'any', thresh=None, subset=None, inplace: 'bool' = False) method of pandas.core.frame.DataFrame instance
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. versionchanged:: 1.0.0

           Pass tuple or list to drop on multiple axes.
           Only a single axis is allowed.

    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.

    thresh : int, optional
        Require that many non-NA values.
    subset : array-like, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame or None
        DataFrame with NA entries dropped from it or None if ``inplace=True``.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'toy'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

In [51]:
haha.dropna(axis=1, how='all')

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [52]:
haha.dropna(axis=0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [53]:
haha.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [54]:
haha.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [55]:
haha.fillna(7)

     A    B    C  D
0  7.0  2.0  7.0  0
1  3.0  4.0  7.0  1
2  7.0  7.0  7.0  5